*.parquet

# General
*.log
*.env
*.pyc
*.pyo
__pycache__/
.DS_Store
node_modules/
dist/
build/

# Python (FastAPI)
*.sqlite3
*.db
*.pkl
*.py[cod]
*.so
*.egg-info/
*.coverage
htmlcov/
*.pytest_cache/
*.mypy_cache/
*.vscode/
.env
.env.*

# React
node_modules/
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.cache/
coverage/
*.map

# IDE/Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project